services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
      target: development
    command: bun dev api
    restart: always
    depends_on:
      - mongodb
    env_file:
      - ./apps/api/.dev.env
    ports:
      - '4000:4000'
    volumes:
      - .:/usr/src/app
  swap:
    container_name: swap
    build:
      context: .
      dockerfile: ./apps/swap/Dockerfile
      target: development
    command: [
        "sh",
        "-c",
        "bun dev swap"
      ]
    restart: always
    depends_on:
      - clientd
      - mongodb
      - redis
    env_file:
      - ./apps/swap/.dev.env
    ports:
      - '4040:4040'
    volumes:
      - .:/usr/src/app

  nostr:
    container_name: nostr
    build:
      context: .
      dockerfile: ./apps/nostr/Dockerfile
      target: development
    command: [
        "sh",
        "-c",
        "bun dev nostr"
      ]
    restart: always
    depends_on:
      - mongodb
      - redis
    env_file:
      - ./apps/nostr/.dev.env
    ports:
      - '4050:4050'
    volumes:
      - .:/usr/src/app

  sms:
    container_name: sms
    build:
      context: .
      dockerfile: ./apps/sms/Dockerfile
      target: development
    command: [
        "sh",
        "-c",
        "bun dev sms"
      ]
    restart: always
    depends_on:
      - mongodb
      - redis
    env_file:
      - ./apps/sms/.dev.env
    ports:
      - '4060:4060'
    volumes:
      - .:/usr/src/app

  shares:
    container_name: shares
    build:
      context: .
      dockerfile: ./apps/shares/Dockerfile
      target: development
    command: [
        "sh",
        "-c",
        "bun dev shares"
      ]
    restart: always
    depends_on:
      - mongodb
      - redis
    env_file:
      - ./apps/shares/.dev.env
    ports:
      - '4070:4070'
    volumes:
      - .:/usr/src/app

  solowallet:
    container_name: solowallet
    build:
      context: .
      dockerfile: ./apps/solowallet/Dockerfile
      target: development
    command: [
        "sh",
        "-c",
        "bun dev solowallet"
      ]
    restart: always
    depends_on:
      - swap
      - mongodb
      - redis
    env_file:
      - ./apps/solowallet/.dev.env
    ports:
      - '4080:4080'
    volumes:
      - .:/usr/src/app

  mongodb:
    image: mongo:7.0-jammy
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=bs
      - MONGO_INITDB_ROOT_PASSWORD=password
    ports:
      - '0.0.0.0:27017:27017'
    volumes:
      - mongodb_datadir:/data/db
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - '6379:6379'
    restart: always

  clientd:
    image: okjodom/fedimint-clientd:v0.4.0
    container_name: clientd
    environment:
      - FEDIMINT_CLIENTD_DB_PATH=/var/lib/clientd
      - FEDIMINT_CLIENTD_PASSWORD=fmcdpass
      - FEDIMINT_CLIENTD_ADDR=clientd:7070
      - FEDIMINT_CLIENTD_MODE=rest
      - FEDIMINT_CLIENTD_INVITE_CODE=fed11qgqrwdthwden5te0v9cxjttndakk2ttrdpjk2um994erx7rsx568vur9dy68z6pnvd6xg63hwsh8wmn90p6zuctswqhsqqfqt94ttf29vdm0jfw3gk3w7quvcknshxd705ksavc0ajj7sj0v6dgsxcydnc
    ports:
      - 7070:7070
    volumes:
      - swap_clientd_datadir:/var/lib/clientd
    restart: always

volumes:
  mongodb_datadir:
  swap_clientd_datadir:
